
$theme-colors: (
    'primary': #5A7D7C, 
    'secondary': #590004,
    'success': #59C3C3,
    'warning': #FCBA04,
    'alert': #FFFFFF
);

$sans-serif: 'Montserrat', sans-serif;

$serif: 'Roboto Mono', monospace;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';




body {
    background: {
        position: center center;
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
        color: lightgrey;
        blend-mode: overlay;
        image: url("/images/topography.jpg");
    }
}

.nav-link {
    justify-content: end
}

.card-img {
    width: 100%;
    height: 100%
}

.card-img-top {
    display: block;
}

.navbar-brand, .nav-item, .btn, h2, h4, h5 {
    font-family: $sans-serif;
}

body {
    font-family: $serif;
}


